<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo - Login</title>
</head>
<body>
    Login 
    <form method="POST">
        {% csrf_token %}

        {% for field in login_form %}
            {{ field }}
        {% endfor %}

        {% if login_form.non_field_errors %}
            {% for error in login_form.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        
        <input type="submit">

    </form>
</body>
</html>